alias ls='ls --color'
alias vim='nvim'
alias vi='nvim'

alias -g log1='log --oneline'
alias restartwaybar='killall -SIGUSR2 waybar'

view() {
    case "${1##*.}" in
        txt|log) less "$1" ;;
        pdf) zathura "$1" ;;
        png|jpg|jpeg) kitten icat "$1" ;;
        mp4|mkv) mpv "$1" ;;
        *) xdg-open "$1" ;;
    esac
}
