[Desktop Entry]
Type=Application
Name=Signal
Comment=Signal - Private Messenger
Icon=signal-desktop
Exec=signal-desktop --enable-features=UseOzonePlatform --ozone-platform=wayland --use-tray-icon=false --reset-window
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=signal
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Keywords=sgnl;chat;im;messaging;messenger;security;privat;

